*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#java prject file
.classpath
.project
.setting
.settings/

# temp file
*.*~
# metadata
/.metadata/
*.DS_Store

/bin

#xls log file
*.xls
*.xlsx
